<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Marks</h1>



    <div class="my-3">
        <a routerLink="/marks/add" class="btn btn-primary">ajouter</a>
    </div>



    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Marks</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>#</th>
                                        <th>Mark</th>
                                        <th>Delete</th>
                                        
                                        
                                    </tr>
                                </thead>
                              
                                <tbody>
                                    <tr *ngFor=" let m of marks ">
                                        <td>{{m.id}}</td>
                                        <td>{{m.mark}}</td>
                                        

                                        <td>
                                            <button class="btn btn-sm btn-danger" (click)="delete(m.id)">delete</button>
                                        </td>
                                        
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>

</div>